#formFile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    margin-top: 15px;
 }

 #formFile img{
    width: 100px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    opacity: 85%;
 }
 
