<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1508978905892-a3b049964046?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Nature" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title mb-3">S'inscrire sur Le FreshCamp</h5>
                    <form action="/register" method="POST" class="validated-form">
                        <div class="mb-3">
                            <label class="form-label" for="username">Nom d'utilisateur</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Cela me semble bon !
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Cela me semble bon !
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Mot de passe</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Cela me semble bon !
                              </div>
                        </div>
                        <div class="m-3">
                            <button class="btn btn-success w-100">S'inscrire</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
